/* 
    Created on : 12 dic 2022, 09:32:02
    Author     : paola.durelli
*/
:root{
  --bs-primary: #4e7e5b;
  --bs-primary-hls: hsl(160deg, 100%, 48%);
  --bs-secondary: #00402b;
  --btn-primary: #4e7e5b;
  --btn-primary-hover: #3c6046;
}
