/* 
    Created on : 12 dic 2022, 09:32:02
    Author     : paola.durelli
*/
:root{
  --bs-primary: #CD2D23;
  --bs-primary-hls: hsl(4deg, 71%, 47%);
  --bs-secondary: #F9AF12;
  --btn-primary: #4e7e5b;
  --btn-primary-hover: #3c6046;
}
