/* 
    Created on : 18 nov 2022, 11:15:44
    Author     : paola.durelli
*/

:root{
  --bs-primary: #CD2D23;
  --bs-primary-hls: hsl(4deg, 71%, 47%);
  --bs-secondary: #F9AF12;
  --btn-primary: #4e7e5b;
  --btn-primary-hover: #3c6046;
}

/*------------------ GENERICI ----------------------*/
.comment-forbidden, .comment-add{
  display: none !important;
}
html {
  scroll-behavior: smooth;
}
.mb-5{
  margin-bottom: 5px !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-2{
  margin-bottom: 2px !important;
}
.pb-6{
  padding-bottom: 6px !important;
}
.pd-15{
  padding: 15px !important;
}

.mb-50{
  margin-bottom: 50px !important;
}
.mt-50{
  margin-top: 50px !important;
}
.mt-30{
  margin-top: 30px !important;
}
.pd-30{
  padding: 30px !important;
}
.mt-15{
  margin-top: 15px !important;
}
.mb-15{
  margin-bottom: 15px !important;
}
.pl-15{
  padding-left: 15px !important;
}
.pl-10{
  padding-left: 10px !important;
}
.pl-25{
  padding-left: 25px !important;
}
.pr-10{
  padding-right: 10px !important;
}

.pt-35{
  padding-top: 35px !important;
}

.fs-1rem{
  font-size: 1rem !important;
}

.inline_element{
  display: inline-flex;
}
.mr-5{
  margin-right: 5px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.italic_font{
  font-style: italic !important;
}

.pb-0{
  padding-bottom: 0 !important;
}

.margin_bottom_0{
  margin-bottom: 0 !important;
}
.Allegatifs-smaller{
  font-size: 1.05rem !important;
}
body .text-white{
  color: #fff !important;
}

h1, .h1{
    color: #796c31;
}

.hidden{
    display: none;
}

main {
    min-height: 600px;
}

.it-user-wrapper .btn-primary{
    background-color: var(--bs-primary);
}

.color-primary{
    color: var(--bs-primary);
}

.width-66{
    width: 66%;
}

.menu-servizi .active .icon {
  fill: var(--bs-primary);
  width: 20px;
}

.btn .icon {
  width: 21px;
  height: 21px;
}

.footer_show_more_menulista {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s linear;
}

.footer_show_more_menulista.show {
  height: auto;
  opacity: 1;
}

#it-region-footer-second svg {
  fill: #fff;
}

.footer-menu-lista-apri {
  font-weight: 500;
  margin-top: 3px;
}

.footer-menu-lista-apri.hide {
  display: none;
}

.footer-menu-lista-chiudi {
  display: none;
  font-weight: 500;
  margin-top: 3px;
}

.footer-menu-lista-chiudi.show {
  display: block;
}


.alert-warning{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(244,96,7)' d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 19a9 9 0 1 1 9-9 9 9 0 0 1-9 9zm-.5-6.8V5.7h1.2v8.5zm-.1 2.3h1.2v1.8h-1.2z'%3E%3C/path%3E%3C/svg%3E");
    background-position: 20px 16px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: 1px solid #f46007;
    border-left: 8px solid #f46007;
    margin-top: 20px;  
}

#dc_frm_dati_pnl_return li a{
    text-decoration: none;
    color: #f46007;
}
#am_frm_dati_pnl_return li a{
    text-decoration: none;
    color: #f46007;
}

input[type="date"].required, 
input[type="datetime-local"].required, 
input[type="email"].required, 
input[type="number"].required, 
input[type="password"].required,
input[type="search"].required, 
input[type="tel"].required, 
input[type="text"].required,
input[type="time"].required, 
input[type="url"].required, 
textarea.required {
  border: 1px solid #f46007 !important;
}

p.required,h2.required,h6.required{
    color: #f46007;
}

.tag-categorie a{
  align-items: center;
  background: #fcfdff;
  border: 1px solid #dfe4f2;
  border-radius: 12px;
  display: inline-flex;
  height: 24px;
  justify-content: space-evenly;
  margin-right: 4px;
  min-width: 100px;
  padding: 0 16px 2px 8px;
  transition: all .05s;
  background-color: transparent;
  border-color: #06c;
  color: #06c;
  margin: 4px auto;
  padding-right: 8px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 0.8rem !important;
  /*margin-bottom: 0 !important;*/
}
.tag-categorie{
  margin-bottom: 0 !important;
}


.tag-categorie a:hover{
  text-decoration: underline;
  color: white !important;
  background-color: #06c;
}

.container-news-allegati-link .col-md-6{
  margin-bottom: 20px !important;
}

.color-white{
  color: #fff !important;
}

.container_index_pagina{
  margin-bottom: 15px;
  padding-bottom: 5px;
  position: relative;
  padding-left: 0 !important;
  cursor: pointer;
}

.sidebar-single p a{
  /*padding-left: 25px;*/
  /*padding-right: 20px;*/
  font-size: 0.92rem;
}

.nascondi_item{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.container_index_pagina h3:after{
  content: '';
  position: absolute;
  /*left: 18px;*/
  top: 5px;
  right: 2px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  clear: both;
}

.container_index_pagina.hide_childs_sidemenu h3:after {
border-bottom: 0 !important;
  border-top: 10px solid #000 !important;
}

.sidebar-single p{
  margin-bottom: 0px !important;
}

.sidebar-single p a:hover{
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 1rem;
}

.page-node-typepage #it-region-sidebar-first{
  overflow-x: hidden;
}

.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon{
  width: unset !important;
}

.latest_update_date{
  margin-top: 35px !important;
}

.latest_update_date h5{
  font-size: 1.15rem !important;
}

.menu-servizi .active {
  font-weight: 600;
  color: var(--bs-primary);
}

@media screen and (max-width: 767px){
  .container_index_pagina{
    text-align: center !important;
  }
}

.breadcrumb .breadcrumb-item a{
  text-decoration: none;
}

.breadcrumb .breadcrumb-item a:hover{
  text-decoration: underline !important;
}


.it-page-title__wrapper h1.page-title{
  font-size: 1.4rem !important;
}

.breadcrumb{
  margin-bottom: 0 !important;
}

.filter_calendario_home {
  text-align: right;
  margin-bottom: 30px !important;
}
.filter_calendario_home a{
  margin: 0 3px !important;
}

.align-center{
  text-align: center !important;
}
.justy-center{
  justify-content: center !important;
}

@media screen and (max-width: 767px){
  .it-page-title__wrapper h1.page-title{
    padding-left: 10px;
  }
}

.card_assistenza .card::after{
    display: none !important;
}

.cmp-tag__tag {
  font-size: .875rem;
  font-weight: 600;
  color: #008758;
  padding: 0 0.75rem;
  border: 1px solid #008758;
  text-decoration: none;
  border-radius: 50px;
}


.error-tag__tag {
  font-size: .875rem;
  font-weight: 600;
  color: #FF0000;
  padding: 0 0.75rem;
  border: 1px solid #FF0000;
  text-decoration: none;
  border-radius: 50px;
}

.bg-grigio {
  background-color: #eceff1!important;
}


.navbar .navbar-collapsable .navbar-nav li a.nav-link.active.focus--mouse
{
  background: transparent;
  border-left: 0;
  border-color: #fff !important;
}

#page-default > main{
  /*margin-bottom: 50px !important;*/
}


#it-region-footer-first .field--name-body a, #it-region-footer-second .field--name-body a, #it-region-footer-third .field--name-body a, #it-region-footer-fourth .field--name-body a{
  color: white !important;
  text-decoration: none;
}

#it-region-footer-first .field--name-body a:hover, #it-region-footer-second .field--name-body a:hover, #it-region-footer-third .field--name-body a:hover, #it-region-footer-fourth .field--name-body a:hover{
  text-decoration: underline !important;
}

.it-footer-main h2{
  font-size: 1.12em !important;
}

#it-region-footer-first,
#it-region-footer-second,
#it-region-footer-third,
#it-region-footer-fourth{
  word-break: break-all !important;
}

@media screen and (min-width: 767px) {
  #it-region-footer-first,
  #it-region-footer-second,
  #it-region-footer-third{
    height: 100%;
  }
  #it-region-footer-first > nav,
  #it-region-footer-second > nav,
  #it-region-footer-third > nav{
    min-height: 50%;
  }
}
#it-region-footer-first h2,
#it-region-footer-second h2,
#it-region-footer-third h2,
#it-region-footer-four h2{
  border-bottom: 1px solid white !important;
  padding-bottom: 5px !important;
}

#it-region-footer-eight svg{
  fill: white;
  width: 20px !important;
  height: 20px !important;
}

#it-region-footer-eight a:hover svg{
  fill: #0066cc !important;
}

.it-footer-small-prints ul.it-footer-small-prints-list {
  padding: 0.5rem 1rem !important;
}

body .contextual-links .quickedit a{
  color: black !important;
}

#it-block-gtranslate {
  display: none !important;
}

#it-block-sceltalinguacustom{
  margin-right: 15px !important;
}

.it-footer ul{
  padding: 0 !important;
}

.it-footer li{
  list-style: none !important;
}

.it-footer ul{
  padding: 0 !important;
}

.it-footer a{
  color: white;
  text-decoration: none;
}
.it-footer a:hover{
  text-decoration: underline;
}


.notification{
  /*background: unset !important;*/
  z-index: 9999;
}

.region.notification.show{
  display: block;
}

.alert.show{
  padding-left: 0 !important;
  overflow: hidden;
}

.alert.show{
  padding-top: 65px;
}

#block-navigazioneprincipale-2 .card:after
.col-tax-list .card:after{
  display:none !important;
}
.col-tax-list a{
  text-decoration: none;
  /*color: black !important;*/
}
.col-tax-list a:hover{
  text-decoration: underline !important;
}


.text_resized{
  font-size: 1rem !important;
}
.title_resized{
  font-size: 0.95rem !important;
}

@media screen and (max-width: 767px){
  .it-footer-small-prints-list .list-inline-item{
    padding-bottom: 0 !important
  }
  .hide-mobile-footer{
    display: none !important;
  }
}

.it-footer-small-prints-list .list-inline-item a:hover{
  text-decoration: underline !important;
}

/*.it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials ul .icon{*/
.it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials .icon{
  width: 20px !important;
  height: 20px !important;
}
.it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials a .icon{
  fill: white;
}

.it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials a:hover .icon{
  fill: black !important;
}

.it-local-tasks_wrapper.mb-5{
  margin-bottom: 15px !important;
}

.col.after-content__col.after-content__first{
  /*border-right: 1px solid black;*/
}

.container.main-container{
  padding-bottom: 15px !important;
}

@media screen and (max-width: 767px){
  .container.main-container{
    padding: 15px !important;
  }
}

.background_image{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80px;
  margin-top: 3px;
  margin-right: 2px;
}

.col-md-8.container-content-block h5{
  font-weight: 400 !important;
}

.text_bold{
  font-weight: bold !important;
}

body{
  max-width: 100%;
  overflow-x: hidden;
}

/*body.path-frontpage{*/
  /*overflow-x: hidden;*/
/*}*/

#it-region-home-second-row-full-width, #it-region-home-first-row-full-width{
  /*max-width: 100vw !important;*/
  overflow-x: hidden !important;
}

.border-bottom-white{
  border-bottom: 1px solid white !important;
}

.cursor_pointer{
  cursor: pointer !important;
}

.descrizione_menu_block{
  font-size: 0.8rem !important;
  font-weight: normal;
  margin-top: 7px;
}

.search_pages_menu a{
  text-decoration: none;
}
.search_pages_menu a:hover{
  text-decoration: underline !important;
}

.search_pages_menu h5{
  font-size: 1.1rem;
  font-weight: 500;
}
.search_pages_menu p{
  margin-bottom: 6.5px !important;
  padding-left: 5px !important;
}
.search_pages_menu p > a{
  color: #0066cc !important;
}

.link_classic{
  text-decoration: none;
}
.link_classic:hover{
  text-decoration: underline !important;
}

.container_ulteriori_info{
  margin-top: 25px !important;
}

.btn.btn-primary .icon{
    fill: #fff;
}


.body-compilazione-dati .cmp-card {
  background-color: #ebeef0;
  padding: 20px;
  border-radius: 20px;
}

.body-compilazione-dati .cmp-card .card {
  background-color: transparent;
}

.body-compilazione-dati .cmp-card .card .card-body{
  background-color: #FFFFFF;
  padding: 20px;
}

ul.card_rb{
    list-style: none;
}
ul.card_rb input{
    margin-right: 10px;
}

  /*-----------------------------------------------------*/

/*------------------------------------------------------*/

a.pulsante_leggi_dipiu{
  font-size: 0.8rem !important;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px !important;
  text-align: right;  
  width: 100%;
  display: inline-block;
}

.pulsante_leggi_dipiu:hover{
  text-decoration: underline !important;
}


/*------------- navigation top slim*/
.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper nav{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*-------------- end navigation top slim*/

.titillium.hero-text{
  color: #000 !important;
}

/* HEADER */
    .it-header-wrapper {
      margin-bottom: 30px;
    }

    /*header .menu-wrapper {
        display: none !important;
    }*/

    
/* FOOTER */
    .loghi_progetto_img a{
        text-decoration: none !important;
    }
    .loghi_progetto_img{
        padding: 5px !important;
    }
    .it-footer-small-prints-list .list-inline-item{
       padding: 0 !important;
    }
    .logo_progetto_1 a img{
        width: 40px;
        padding-right: 10px;
    }
    .logo_progetto_2 a img{
        width: 40px;
        padding-right: 10px;
    }
    .logo_progetto_3 a img{
        width: 200px;
    }
    

    @media screen and (max-width: 768px){
        .loghi_progetto{
            padding-bottom: 25px;
        }
    }

/* CARD  */
.page-servizi .card{ 
    min-height: 280px;
}

.page-servizi .card .card-title a{
    text-decoration: none;
}

.page-servizi .card .card-title a:hover{
    text-decoration: underline;
}

.page-servizi .card .card-body{ 
    border: 1px solid #000; 
    border-radius: 10px; 
    border-left: 7px solid var(--bs-primary);
}
.page-servizi .disabled .card .card-body{ 
    border: 1px solid #000; 
    border-radius: 10px; 
    border-left: 7px solid #cdcdcd;
}
  
.page-servizi .card::after{
    margin-top: 20px;
}
 
.page-servizi .card .card-body .icon{
    float: left;
    margin-right: 3px;
    margin-top: -3px;
}

.page-servizi .card .card-body .read-more-news-list .icon{
    float: right;
    fill: var(--bs-primary);
}


.title-small-semi-bold {
  font-weight: 700;
  font-size: 1.1em;
}

.date-xsmall {
  font-size: 0.7em;
}
