<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>Ciao %nome% %cognome%,<br/>
                la tua pratica per il servizio: <b>"%servizioselezionato%"</b> &egrave; stata inviata correttamente.<br/>
                . 'Il numero della pratica &egrave;: <b>%numeropratica%</b><br/>
                <a href="%urlservizi%lib/tcpdf/TCPDF-master/examples/am_pdf_pratica.php">Scarica il documento della pratica</a><br/>
                Presto riceverai una nostra risposta.<br/>
                Grazie<br/>
                <em>Comune di %nomecomune%</em></p>

            <p>Per qualsiasi dubbio contattaci:<br/>
            Tel: %telcomune%<br/>
            Email: %peccomune%</p>';
        </div>
    </body>
</html>
