<html>
    <head>
        <title>Mail</title>
        <style>
            * { box-sizing: border-box; }
            body { margin: 0 auto; text-align:center; padding: 0; background-color: #f8f8f9;}
            p { line-height: inherit }
            .desktop_hide,.desktop_hide table { display: none; max-height: 0px; overflow: hidden; }
            p.comune-text{ font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 700; }
            p{ font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; }
            p.footer-text{ font-family: Montserrat, Trebuchet MS, sans-serif; margin: 0; font-size: 12px; text-align: center; color: #95979c; }
        </style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" style="color: #000000; width: 640px; text-align: center;">
                                    <tr>
                                        <td class="column" style="font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px; width: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" class="image_block" style="width: 100%;">
                                                <tr>
                                                    <td style="width:100%; padding-right:0px; padding-left:0px;">
                                                        <div style="line-height:10px; text-align: center;">
                                                            <a href="%urlservizi%" style="outline:none" tabindex="-1" target="_blank">
                                                                <img alt="%nomecomune%" src="%urlservizi%media/mail/logo.png" style="height: auto; width: 120px;" title="%nomecomune%" />
                                                            </a>
                                                            <p class="comune-text">Comune di %nomecomune%</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" style="background-color: #fff; width: 640px;">
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <a href="%urlservizi%" target="_blank">
                                                            <img src="%urlservizi%media/mail/slide_area_riservata.jpg" style="max-width: 100%;" alt="Servizi Online"/>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 30px 0;">
                                                <tr>
                                                    <td style="padding-bottom:10px; padding-left:40px; padding-right:40px; padding-top:10px; text-align: left;">
                                                        <p style="margin: 0; line-height: 2;">
                                                            Ciao %nome% %cognome%,<br/>
                                                            la tua pratica per il servizio: <b>"%servizioselezionato%"</b> &egrave; stata inviata correttamente.<br/>
                                                        </p>
                                                        <p>
                                                            Il numero della pratica &egrave;: <b>%numeropratica%</b>
                                                        </p>
                                                        <p>
                                                            Presto riceverai una nostra risposta.<br/>
                                                            Grazie<br/>
                                                        </p>
                                                        <p style="text-align: right; padding: 50px 0 20px;">
                                                            Per qualsiasi dubbio contattaci:<br/>
                                                            Tel: %telcomune%<br/>
                                                            Email: %mailcomune%
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" style="background-color: #410125; width: 640px;">
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                                <tr>
                                                    <td style="padding-bottom:10px; padding-left:40px; padding-right:40px; padding-top:25px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                                            <tr>
                                                                <td style="font-size: 1px; line-height: 1px; border-top: 1px solid #555961;"><span></span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                                <tr>
                                                    <td style="padding-bottom:30px; padding-left:40px; padding-right:40px; padding-top:20px;">
                                                        <p class="footer-text">Comune di %nomecomune% &copy; %anno%</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="padding: 10px 0;">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
